body {
    background: white;
}
body.dark {
    background: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.socials{
    display:flex;
    justify-content: center;
    list-style-type: none;
}
.socials ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 70%;
}

.socials ul li a {
    display: flex;
    justify-content: center;
text-decoration: none;
padding-left: 0;
padding: 15px 15px;
color: black;
border-radius: 10px;
transition: all .5s ease;
}

.socials ul li a:hover {
    background:black;
    color: white
}

.label{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 30px;
}

.checkbox{
    opacity: .5 ;
    position: absolute;
}

.checkbox:checked{
    background-color: purple;
}
